.container {
    display: flex;
    flex-direction: row;
    background-color: #E5E5E5;
}

.container-home{
    display: flex;
    flex-direction: row;
    margin-top: 25px;
    margin-left: 51px;
}

.container-home h2 {
    position: relative;
    height: 22px;
    width: 65px;
    left: 70px;
    top: 5px;
    border-radius: nullpx;

}

.container-home button {
    border: none;
    font-size: 18px; 
    margin-left: 50px;
    height: 96px;
    width: 218px;
    border-radius: 20px;
    margin-top: 80px;
    box-shadow: 4px 4px 4px 4px rgba(0, 0, 0, 0.25);
}

.container-home button a {
    display: flex;
    flex-direction: row;
    align-items: center;
    text-decoration: none;
    justify-content: center;
    height: 96px;

    color: #000000;

   
}